@page "/chance"
<div class="chance">
    <EditForm Model="Model">
        <fieldset class="spouse">
            <legend>У вас есть супруг(а)?</legend>
            <InputRadioGroup @bind-Value="Model.MarriageStatus">
            <div>
                <InputRadio Value=2 Id="spouse_0"/>
                <label for="spouse_0">Официальный брак</label>
            </div>
            <div>
                <InputRadio Value=1 Id="spouse_1"/>
                <label for="spouse_1">Гражданский брак</label>
            </div>
            <div>
                <InputRadio Value=0 Id="spouse_2"/>
                <label for="spouse_2">Нет</label>
            </div>
            </InputRadioGroup>
        </fieldset>
        <fieldset class="container_set">
            <legend>Персональные данные</legend>
            <fieldset class="info_set">
                <legend>Контакты</legend>
                <div>
                    <label for="email">Email</label>
                    <InputText type="text" @bind-Value="Model.Email" id="email"/>
                </div>
                <div>
                    <label for="phone">Телефон</label>
                    <InputText type="text" @bind-Value="Model.Phone" id="phone"/>
                </div>
            </fieldset>
            <div class="box">
                <fieldset class="info_set">
                    <legend>Ваша информация</legend>
                    <div>
                        <label for="name">Имя</label>
                        <InputText type="text" @bind-Value="Model.PersonalInformation.Name" id="name"/>
                    </div>
                    <div>
                        <label for="current_address">Город и страна проживания</label>
                        <InputText type="text" @bind-Value="Model.PersonalInformation.Address" id="current_address"/>
                    </div>
                    <div>
                        <label for="age">Возвраст</label>
                        <InputNumber type="number" @bind-Value="Model.PersonalInformation.Age" id="age"/>
                    </div>
                </fieldset>
                @if(Model.MarriageStatus != 0)
                {
                <fieldset class="info_set">
                    <legend>Информация о партнере</legend>
                    <div>
                        <label for="spouse_name">Имя</label>
                        <InputText type="text" @bind-Value="Model.SpousePersonalInformation.Name" id="spouse_name"/>
                    </div>
                    <div>
                        <label for="spouse_current_address">Город и страна проживания</label>
                        <InputText type="text" @bind-Value="Model.SpousePersonalInformation.Address" id="spouse_current_address"/>
                    </div>
                    <div>
                        <label for="spouse_age">Возвраст</label>
                        <InputNumber type="number" @bind-Value="Model.SpousePersonalInformation.Age" id="spouse_age"/>
                    </div>
                </fieldset>
                }
            </div>
        </fieldset>
        <fieldset class="container_set">
            <legend>Знание иностранных языков</legend>
            <div class="box">
                <fieldset class="info_set">
                    <legend>Ваша информация</legend>
                    <div>
                        <label for="english">Английский</label>
                        <InputSelect @bind-Value="Model.LanguageSkills.English" id="english">
                            <option value=0>Не знаю</option>
                            <option value=1>Немного</option>
                            <option value=2>Средне</option>
                            <option value=3>Хорошо</option>
                        </InputSelect>
                    </div>
                    <div>
                        <label for="franch">Французкий</label>
                        <InputSelect @bind-Value="Model.LanguageSkills.Franch" id="franch">
                            <option value=0>Не знаю</option>
                            <option value=1>Немного</option>
                            <option value=2>Средне</option>
                            <option value=3>Хорошо</option>
                        </InputSelect>
                    </div>
                    <div>
                        <label for="esl">Пройденные тесты на знания языка</label>
                        <InputText type="text" @bind-Value="Model.LanguageSkills.Esl" id="esl"/>
                    </div>
                </fieldset>
                @if(Model.MarriageStatus != 0)
                {
                <fieldset class="info_set">
                    <legend>Информация о партнере</legend>
                    <div>
                        <label for="spouse_english">Английский</label>
                        <InputSelect @bind-Value="Model.SpouseLanguageSkills.English" id="spouse_english">
                            <option value=0>Не знаю</option>
                            <option value=1>Немного</option>
                            <option value=2>Средне</option>
                            <option value=3>Хорошо</option>
                        </InputSelect>
                    </div>
                    <div>
                        <label for="spouse_franch">Французкий</label>
                        <InputSelect @bind-Value="Model.SpouseLanguageSkills.Franch" id="spouse_franch">
                            <option value=0>Не знаю</option>
                            <option value=1>Немного</option>
                            <option value=2>Средне</option>
                            <option value=3>Хорошо</option>
                        </InputSelect>
                    </div>
                    <div>
                        <label for="spouse_esl">Пройденные тесты на знания языка</label>
                        <InputText type="text" @bind-Value="Model.SpouseLanguageSkills.Esl" id="spouse_esl"/>
                    </div>
                </fieldset>
                }
            </div>
        </fieldset>
        <fieldset class="container_set">
            <legend>Образование</legend>
            <div class="box">
                <fieldset class="info_set">
                    <legend>Ваша информация</legend>
                    <div>
                        <label for="school_years">Сколько лет учились в школе?</label>
                        <InputNumber type="number" @bind-Value="Model.Education.SchoolYears" id="school_years"/>
                    </div>
                    <div>
                        <label for="collage">Высшее образование</label>
                        <InputSelect @bind-Value="Model.Education.Collage" id="collage">
                            <option value=0>Нет</option>
                            <option value=1>Техникум</option>
                            <option value=2>Колледж</option>
                            <option value=3>Университет</option>
                            <option value=4>Постдипломная программа</option>
                        </InputSelect>
                    </div>
                    <div>
                        <label for="collage_years">Сколько лет получали высшее образование?</label>
                        <InputNumber type="number" @bind-Value="Model.Education.CollageYears" id="collage_years"/>
                    </div>
                    <div>
                        <label for="profession">Специальность?</label>
                        <InputText type="text" @bind-Value="Model.Education.Profession" id="profession"/>
                    </div>
                </fieldset>
                @if(Model.MarriageStatus != 0)
                {
                <fieldset class="info_set">
                    <legend>Информация о партнере</legend>
                    <div>
                        <label for="spouse_school_years">Сколько лет учились в школе?</label>
                        <InputNumber type="number" @bind-Value="Model.SpouseEducation.SchoolYears" id="spouse_school_years"/>
                    </div>
                    <div>
                        <label for="spouse_collage">Высшее образование</label>
                        <InputSelect @bind-Value="Model.SpouseEducation.Collage" id="spouse_collage">
                            <option value=0>Нет</option>
                            <option value=1>Техникум</option>
                            <option value=2>Колледж</option>
                            <option value=3>Университет</option>
                            <option value=4>Постдипломная программа</option>
                        </InputSelect>
                    </div>
                    <div>
                        <label for="spouse_collage_years">Сколько лет получали высшее образование?</label>
                        <InputNumber type="number" @bind-Value="Model.SpouseEducation.CollageYears" id="spouse_collage_years"/>
                    </div>
                    <div>
                        <label for="profession">Специальность?</label>
                        <InputText type="text" @bind-Value="Model.SpouseEducation.Profession" id="spouse_profesion"/>
                    </div>
                </fieldset>
                }
            </div>
        </fieldset>
        <fieldset class="container_set">
            <legend>Опыт работы</legend>
            <div class="box m_@Model.MarriageStatus">
                @{
                    if(Model.WorkExperience.Count() == 0)
                    {
                        Model.WorkExperience.Add(new());
                        Model.SpouseWorkExperience.Add(new());
                    }

                    for(var i=0; Model.WorkExperience.Count() > i; i++)
                    {
                        var copy = i;
                        var id1 = "speciality_" + i;
                        var id2 = "work_years_" + i;

                        var id3 = "spouse_"+id1;
                        var id4 = "spouse_"+id2;

                        <fieldset class="info_set">
                            <legend>Ваша информация</legend>
                            <div>
                                <label for="@id1">Специальность</label>
                                <InputText type="text" @bind-Value="Model.WorkExperience[copy].Profession" id="@id1"/>
                            </div>
                            <div>
                                <label for="@id2">Колличество лет стажа</label>
                                <InputNumber type="number" @bind-Value="Model.WorkExperience[copy].Experience" id="@id2"/>
                            </div>
                        </fieldset>
                        if(Model.MarriageStatus != 0)
                        {
                        <fieldset class="info_set">
                            <legend>Информация о партнере</legend>
                            <div>
                                <label for="@id3">Специальность</label>
                                <InputText type="text" @bind-Value="Model.SpouseWorkExperience[copy].Profession" id="@id3"/>
                            </div>
                            <div>
                                <label for="@id4">Колличество лет стажа</label>
                                <InputNumber type="number" @bind-Value="Model.SpouseWorkExperience[copy].Experience" id="@id4"/>
                            </div>
                        </fieldset>
                        }
                    }
                }
                <div class="jobs_action">
                    <a class="btn-add" @onclick="AddJob">Добавить</a>
                    @if(Model.WorkExperience.Count() > 1)
                    {
                        <a class="btn-add" @onclick="RemoveJob">Удалить</a>
                    }
                </div>
            </div>
        </fieldset>
        <fieldset class="container_set">
            <legend>Что из перечисленного относится к вашему случаю?</legend>
            <div class="q_box">
                <div>
                    <input type="checkbox" name="case" id="q1" value="q1">
                    <label for="q1">Вы находитесь в Канаде</label>
                </div>
                <div>
                    <input type="checkbox" name="case" id="q2" value="q2">
                    <label for="q2">Ваши близкие родственники постоянно проживают в Канаде</label>
                </div>
                <div>
                    <input type="checkbox" name="case" id="q3" value="q3">
                    <label for="q3">Вы подавали заявление на иммиграцию в Канаду</label>
                </div>
                <div>
                    <input type="checkbox" name="case" id="q4" value="q4">
                    <label for="q4">Вам отказывали в канадской визе или в иммиграции в Канаду</label>
                </div>
                <div>
                    <input type="checkbox" name="case" id="q5" value="q5">
                    <label for="q5">Работодатель в Канаде предложил вам работу</label>
                </div>
                <div>
                    <input type="checkbox" name="case" id="q6" value="q6">
                    <label for="q6">Вы планируете получать образование в Канаде</label>
                </div>
                <div>
                    <input type="checkbox" name="case" id="q7" value="q7">
                    <label for="q7">У вас имеется судимость</label>
                </div>
                <div>
                    <input type="checkbox" name="case" id="q8" value="q8">
                    <label for="q8">У вас, или вашей семьи имеются существенные сложности медицинского характера</label>
                </div>
                <div>
                    <input type="checkbox" name="case" id="q9" value="q9">
                    <label for="q9">Вы обращались ранее в какие-либо компании или каким-либо канадским адвокатам</label>
                </div>
                <div>
                    <input type="checkbox" name="case" id="q10" value="q10">
                    <label for="q10">Вы скорее всего планируете получать высшее образование в Канаде</label>
                </div>
            </div>
        </fieldset>
        <button class="btn-2">Отправить</button>
    </EditForm>
</div>

@code{
    Questionnaire Model = new();

    private void AddJob()
    {
        Model.WorkExperience.Add(new());
        Model.SpouseWorkExperience.Add(new());
    }

    private void RemoveJob()
    {
        Model.WorkExperience.RemoveAt(Model.WorkExperience.Count() - 1);
        Model.SpouseWorkExperience.RemoveAt(Model.SpouseWorkExperience.Count() - 1);
    }
}
