<footer>
    <div class="contacts">
        <h4>@Localizer["f t1"]</h4>
        <div class="container">
            <div class="box">
                <h5>@Localizer["f p1"]</h5>
                <p>
                    1 Bloor St, #200 M4W 0A8
                    <br>
                    Toronto, Canada
                </p>
            </div>
            <div class="box">
                <h5>@Localizer["f p2"]</h5>
                <a href="tel:16476487822">+1(647)648-7822</a>
            </div>
            <div class="box">
                <h5>Email</h5>
                <a href="mailto:infocanavisas@gmail.com">info@canavisas.com</a>
            </div>
            <div class="box">
                <h5>@Localizer["f p3"]</h5>
                <div>
                    <img src="pics/facebook_small.webp">
                    <img src="pics/viber_small.webp">
                    <img src="pics/instagram_small.webp">
                    <img src="pics/telegram_small.webp">
                    <img src="pics/whatsapp_small.webp">
                </div>
            </div>
        </div>
    </div>
    <div class="navigation">
        <h4>@Localizer["f t2"]</h4>
        <div class="box">
           <AnchorLink href="#home">@Localizer["m b0"]</AnchorLink>
           <AnchorLink href="#s2">@Localizer["f l1"]</AnchorLink>
           <AnchorLink href="#s3">@Localizer["s3 t1"]</AnchorLink>
           <AnchorLink href="#s5">@Localizer["s5 t1"]</AnchorLink>
           <AnchorLink href="#s6">@Localizer["s6 t1"]</AnchorLink>
           <AnchorLink href="#s7">@Localizer["s7 t1"]</AnchorLink>
           <AnchorLink href="#s8">@Localizer["s8 t1"]</AnchorLink>
           <AnchorLink href="#s9">@Localizer["s9 t1"]</AnchorLink>
           <AnchorLink href="#s10">@Localizer["s10 t1"]</AnchorLink>
           <AnchorLink href="#s11">@Localizer["s11 t1"]</AnchorLink>
           <AnchorLink href="#s12">@Localizer["s12 t1"]</AnchorLink>
           <AnchorLink href="#s13">@Localizer["s13 t1"]</AnchorLink>
           <AnchorLink href="#s15">@Localizer["s15 t1"]</AnchorLink>
           <AnchorLink href="#s16">@Localizer["s16 t1"]</AnchorLink>
        </div>
    </div>
</footer>
