<header>
    <img class="logo" src="pics/logo_big.webp">
    <div class="rating">
        <img src="pics/cup.webp">
        <div>
            @((MarkupString)string.Format(@Localizer["h p1"], "<br>"))
        </div>
    </div>
    <div class="questionaire btn-1">@Localizer["h p2"]</div>
    <p class="call">
        @((MarkupString)string.Format(@Localizer["h p3"], "<br>"))
    </p>
</header>
