<section class="section_10">
    <div class="section_title">
        <h2>@Localizer["s10 t1"]</h2>
        <h4>
            @((MarkupString)string.Format(@Localizer["s10 t2"],"<b>", "</b>"))
        </h4>
    </div>
    <div class="container">
        <div class="box">
            <div>
                <p>@Localizer["s10 p1.1"]</p>
                <div class="icons">
                    <div>
                        <img src="pics/whatsup.webp">
                        <div>What's Up</div>
                    </div>
                    <div>
                        <img src="pics/viber.webp">
                        <div>Viber</div>
                    </div>
                    <div>
                        <img src="pics/telegram.webp">
                        <div>Telegram</div>
                    </div>
                    <div>
                        <img src="pics/fb.webp">
                        <div>Facebook</div>
                    </div>
                    <div>
                        <img src="pics/vk.webp">
                        <div>VK</div>
                    </div>
                </div>
            </div>
            <div>
                <p>@Localizer["s10 p1.2"]</p>
                <input type="text">
                <button class="btn-2">@Localizer["s10 b1"]</button>
                <p><input type="checkbox"> @Localizer["s10 p1.3"]</p>
            </div>
        </div>
        <img class="img1" src="pics/support.webp">
    </div>
</section>
