<section class="section_11">
    <div class="warning">
        <img src="pics/careful.webp">
        <div class="section_title">
            <h2>@Localizer["s11 t1"]</h2>
            <h4>
                @((MarkupString)string.Format(@Localizer["s11 t2"],"<span>", "</span>"))
            </h4>
        </div>
    </div>
    <div class="wrong">
        <div>
            <img src="pics/bad_1.webp">
            <p>@Localizer["s11 p1"]</p>
        </div>
        <div>
            <img src="pics/bad_2.webp">
            <p>@Localizer["s11 p2"]</p>
        </div>
        <div>
            <img src="pics/bad_3.webp">
            <p>@Localizer["s11 p3"]</p>
        </div>
    </div>
    <h4 class="section_title">@Localizer["s11 t3"]</h4>
</section>
