<section class="section_1">
    <div class="top">
        <div class="legal">
            <img src="pics/canadian_flag.webp">
            <h4>@Localizer["s1 t1"]</h4>
        </div>
        <h2 class="dream">
            @((MarkupString)string.Format(@Localizer["s1 t2"],
                "<span>", "</span>"))
        </h2>
        <img src="pics/people.webp" class="meating">
    </div>
    <div class="mid">
        <div class="box">
            <img src="pics/passport.webp">
            <p>@Localizer["s1 p1"]</p>
        </div>
        <div class="box">
            <img src="pics/hr.webp">
            <p>@Localizer["s1 p2"]</p>
        </div>
        <div class="box">
            <img src="pics/office.webp">
            <p>@Localizer["s1 p3"]</p>
        </div>
    </div>
    <div class="bottom">
        <h4 class="title">@Localizer["s1 p4"]</h4>
        <div class="icons">
            <div>
                <img src="pics/skype.webp">
                <div>Skype</div>
            </div>
            <div>
                <img src="pics/whatsup.webp">
                <div>What's Up</div>
            </div>
            <div>
                <img src="pics/viber.webp">
                <div>Viber</div>
            </div>
            <div>
                <img src="pics/telegram.webp">
                <div>Telegram</div>
            </div>
        </div>
    </div>
</section>
