<section class="section_6" id="prices">
    <h2>@Localizer["s6 t1"]</h2>
    <div class="prices">
        <table>
            <tr>
                <th>
                    <img src="pics/visitors.webp"> 
                    <span>@Localizer["s6 p1t"]</span>
                </th>
            </tr>
            <tr>
                <td>@Localizer["s6 p1.1"]</td>
                <td>$700</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p1.2"]</td>
                <td>$200</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p1.3"]</td>
                <td>$800</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p1.4"]</td>
                <td>$250</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>
                    <img src="pics/students.webp">
                    <span>@Localizer["s6 p2t"]</span>
                </th>
            </tr>
            <tr>
                <td>@Localizer["s6 p2.1"]</td>
                <td>$1,500</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p2.2"]</td>
                <td>$1,000</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p2.3"]</td>
                <td>$450</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p2.4"]</td>
                <td>$350</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>
                    <img src="pics/province.webp">
                    <span>@Localizer["s6 p3t"]</span>
                </th>
            </tr>
            <tr>
                <td>@Localizer["s6 p3.1"]</td>
                <td>$1,500</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p3.2"]</td>
                <td>$3,500</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p3.3"]</td>
                <td>$3,500</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>
                    <img src="pics/worker.webp">
                    <span>@Localizer["s6 p4t"]</span>
                </th>
            </tr>
            <tr>
                <td>@Localizer["s6 p4.1"]</td>
                <td>$1,500</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p4.2"]</td>
                <td>$350</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p4.3"]</td>
                <td>$3,000</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p4.4"]</td>
                <td>$4,000</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p4.5"]</td>
                <td>$8,000</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p4.6"]</td>
                <td>$6,000</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p4.7"]</td>
                <td>$500</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p4.8"]</td>
                <td>$350</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>
                    <img src="pics/permanent.webp">
                    <span>@Localizer["s6 p5t"]</span>
                </th>
            </tr>
            <tr>
                <td>@Localizer["s6 p5.1"]</td>
                <td>$2,000</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p5.2"]</td>
                <td>$2,500</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p5.3"]</td>
                <td>$2,500</td>
            </tr>
            <tr>
                <td>@Localizer["s6 p5.4"]</td>
                <td>$3,000</td>
            </tr>
        </table>
    </div>
    <div class="worning">
        <img src="pics/attention.webp">
        <p>
            @((MarkupString)string.Format(@Localizer["s6 t2"], "<br>"))
        </p>
    </div>
</section>
