<section class="section_4">
    <div class="section_title"><h2>@Localizer["s4 t1"]</h2></div>
    <div class="services">
        <div>
            <p><span>1</span> @Localizer["s4 p1t"]</p>
            <img class="img1" src="pics/approch.webp">
            <p>@Localizer["s4 p1"]</p>
        </div>
        <div>
            <p><span>2</span> @Localizer["s4 p2t"]</p>
            <img class="img2" src="pics/info.webp">
            <p>@Localizer["s4 p2"]</p>
        </div>
        <div>
            <p><span>3</span> @Localizer["s4 p3t"]</p>
            <img class="img3" src="pics/egreement.webp">
            <p>@Localizer["s4 p3"]</p>
        </div>
        <div>
            <p><span>4</span> @Localizer["s4 p4t"]</p>
            <img class="img4" src="pics/fixed.webp">
            <p>@Localizer["s4 p4"]</p>
        </div>
        <div>
            <p><span>5</span> @Localizer["s4 p5t"]</p>
            <img class="img5" src="pics/payment.webp">
            <p>@Localizer["s4 p5"]</p>
        </div>
        <div>
            <p><span>6</span> @Localizer["s4 p6t"]</p>
            <img class="img6" src="pics/help.webp">
            <p>@Localizer["s4 p6"]</p>
        </div>
    </div>
</section>
