<section class="section_16" id="s16">
    <div class="section_title">
        <h2>@Localizer["s16 t1"]</h2>
    </div>
    <div class="container">
        <details>
            <summary>@Localizer["s16 p1.1"]</summary>
            <p>@Localizer["s16 p1.2"]</p>
        </details>
        <details>
            <summary>@Localizer["s16 p2.1"]</summary>
            <p>@Localizer["s16 p2.2"]</p>
        </details>
        <details>
            <summary>@Localizer["s16 p3.1"]</summary>
            <p>@Localizer["s16 p3.2"]</p>
        </details>
        <details>
            <summary>@Localizer["s16 p3.1"]</summary>
            <p>@Localizer["s16 p3.2"]</p>
        </details>
        <details>
            <summary>@Localizer["s16 p4.1"]</summary>
            <p>@Localizer["s16 p4.2"]</p>
        </details>
        <details>
            <summary>@Localizer["s16 p5.1"]</summary>
            <p>@Localizer["s16 p5.2"]</p>
        </details>
    </div>
</section>
