<section class="section_8" id="s8">
    <div class="section_title">
        <h2>@Localizer["s8 t1"]</h2>
        <h4>@Localizer["s8 t2"]</h4>
    </div>
    <div class="info">
        <div class="name">
            <div>
                <p>@Localizer["s8 p1.1"]</p>
                <p>@Localizer["s8 p1.2"]</p>
            </div>
            <img src="pics/cicc.webp">
        </div>
        <img src="pics/Adale.webp">
        <p>@Localizer["s8 p2"]</p>
    </div>
    <button @onclick="AppState.OpenPopup" class="btn-2 btn-a1">@Localizer["s8 b1"]</button>
</section>
