<nav>
    <AnchorLink href="#home">@Localizer["m b0"]</AnchorLink>
    <AnchorLink href="#s3">@Localizer["m b1"]</AnchorLink>
    <AnchorLink href="#s5">@Localizer["m b2"]</AnchorLink>
    <AnchorLink href="#s6">@Localizer["m b3"]</AnchorLink>
    <AnchorLink href="#s9">@Localizer["m b4"]</AnchorLink>
    <AnchorLink href="#s13">@Localizer["m b5"]</AnchorLink>
    <AnchorLink href="#s16">@Localizer["m b6"]</AnchorLink>
</nav>
