<nav>
    <AnchorLink href="#home">@Localizer["m b0"]</AnchorLink>
    <AnchorLink href="#why_us">@Localizer["m b1"]</AnchorLink>
    <AnchorLink href="#services">@Localizer["m b2"]</AnchorLink>
    <AnchorLink href="#prices">@Localizer["m b3"]</AnchorLink>
    <AnchorLink href="#requirements">@Localizer["m b4"]</AnchorLink>
    <AnchorLink href="#why_canada">@Localizer["m b5"]</AnchorLink>
    <AnchorLink href="#faq">@Localizer["m b6"]</AnchorLink>
</nav>
